@import '../../../Resources/Styles/library';
@import 'variables';

.container
{
    width: 100%;
    min-height: 100%;

    & > *
    {
        z-index: 99;
    }

    & .rightContainer
    {
        margin-left: $leftSiderWidth;
    }
}